{% extends 'base.html' %}

{% block content %}
<c-layouts.dashboard dashboard-name="SPT Sales">
    <c-slot name="sidebar">
        <c-sidebar.sptsales></c-sidebar.sptsales>
    </c-slot>

    <c-slot name="content">
        <c-headingCard judul="Permintaan SPT" deskripsi="Daftar permintaan SPT" heading_image_url="https://img.icons8.com/?size=100&id=LdBR9a3vFiwK&format=png&color=000000"></c-headingCard>
        <section class="mb-4 bg-white dark:bg-gray-800 rounded-lg p-4 sm:p-6">
          <div class="flex flex-wrap justify-between items-center w-full gap-2">
            <h2 for="sales" class="mr-2 text-lg sm:text-xl font-bold text-gray-800 dark:text-white">Pilih Pengguna Sales</h2>
            <form class="flex items-center gap-2" method="GET" action="">
              <select name="sales" id="sales" class="w-full max-w-sm rounded-lg border border-gray-300 text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option value="semua">Semua</option>
                {% for pengguna in daftar_pengguna_sales %}
                  <option value="{{ pengguna.user.id }}">{{ pengguna }}</option>
                {% endfor %}
              </select>
              <button type="submit" class="px-4 py-2 bg-blue-700 text-white rounded-lg hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                Filter
              </button>
            </form>
          </div>
        </section>
        <section class="mt-4">
            <div class="bg-white dark:bg-gray-800 rounded-lg p-4 sm:p-6 mb-4 w-full">
                <h2 class="text-md sm:text-2xl font-bold text-gray-800 dark:text-white mb-4">Daftar Permintaan SPT</h2>
                <div class="relative overflow-x-auto sm:rounded-lg">
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">Sales</th>
                                <th scope="col" class="px-6 py-3">Judul</th>
                                <th scope="col" class="px-6 py-3">Keterangan</th>
                                <th scope="col" class="px-6 py-3">Status</th>
                                <th scope="col" class="px-6 py-3">Kategori</th>
                                <th scope="col" class="px-6 py-3">File</th>
                                <th scope="col" class="px-6 py-3">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for permintaan in daftar_permintaan %}
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <td class="px-6 py-4 whitespace-nowrap">{{ permintaan.user.sales.first }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    {{ permintaan.judul }}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ permintaan.ket }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ permintaan.status }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ permintaan.kategori }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    {% if permintaan.file %}
                                        <a href="{{ permintaan.file.url }}" class="text-blue-600 hover:underline">Lihat File</a>
                                    {% else %}
                                        Tidak ada file
                                    {% endif %}
                                </td>
                                <td class="px-6 py-4 flex flex-wrap gap-2">
                                  
                                  {% if permintaan.status == "menunggu" %}
                                      <form method="POST" action="{% url 'sptpermintaan_sptsales' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{ permintaan.id }}">
                                        <input type="hidden" name="status" value="diterima">
                                        <button type="submit" class="font-medium text-green-600 dark:text-green-500 hover:underline mr-2">Terima</button>
                                      </form>
                                      
                                      <!-- Tombol untuk memunculkan form tolak -->
                                      <button onclick="showTolakForm('{{ permintaan.id }}')" class="font-medium text-red-600 dark:text-red-500 hover:underline">Tolak</button>
                                      
                                      <!-- Form tolak yang awalnya tersembunyi -->
                                      <div id="tolakForm{{ permintaan.id }}" class="hidden fixed bg-opacity-50 flex justify-center items-center">
                                        <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg">
                                          <form method="POST" action="{% url 'sptpermintaan_sptsales' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="id" value="{{ permintaan.id }}">
                                            <input type="hidden" name="status" value="ditolak">
                                            <div class="mb-4">
                                              <label class="block text-gray-700 dark:text-gray-300 text-sm font-bold mb-2">Alasan Penolakan:</label>
                                              <textarea name="alasan" required class="w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none" rows="3"></textarea>
                                            </div>
                                            <div class="flex justify-end gap-2">
                                              <button type="button" onclick="hideTolakForm('{{ permintaan.id }}')" class="px-4 py-2 bg-gray-500 text-white rounded-lg hover:bg-gray-600">Batal</button>
                                              <button type="submit" class="px-4 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700">Kirim</button>
                                            </div>
                                          </form>
                                        </div>
                                      </div>
                                  {% else %}
                                    <p>Sudah {{ permintaan.status }}</p>
                                  {% endif %}
                                    
                                  
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </c-slot>
</c-layouts.dashboard>

<script>
  function showTolakForm(id) {
    document.getElementById('tolakForm' + id).classList.remove('hidden');
  }

  function hideTolakForm(id) {
    document.getElementById('tolakForm' + id).classList.add('hidden');
  }
</script>
{% endblock %}
