<li>
  <a href="{% url 'teknisi' %}"
      class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if request.resolver_match.url_name == 'teknisi' %}bg-gray-100 dark:bg-gray-700{% endif %}">
      <img src="https://img.icons8.com/?size=100&id=6WmNGzM9j4eN&format=png&color=000000" alt="Dashboard Icon" class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
      <span class="ms-3">Dashboard</span>
  </a>
</li>
<!-- <li>
  <a href="{% url 'komplain_teknisi' %}"
      class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if request.resolver_match.url_name == 'komplain_teknisi' %}bg-gray-100 dark:bg-gray-700{% endif %}">
      <img src="https://img.icons8.com/?size=100&id=hnuJKXRIY1PQ&format=png&color=000000" alt="Komplain Icon" class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
      <span class="ms-3">Komplain</span>
  </a>
</li>
<li>
  <a href="{% url 'permintaan_teknisi' %}"
      class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if request.resolver_match.url_name == 'permintaan_teknisi' %}bg-gray-100 dark:bg-gray-700{% endif %}">
      <img src="https://img.icons8.com/?size=100&id=IA6GgS2nbpmB&format=png&color=000000" alt="Permintaan Icon" class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
      <span class="flex-1 ms-3 whitespace-nowrap">Permintaan</span>
  </a>
</li>
<li>
  <a href="{% url 'saran_teknisi' %}"
      class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if request.resolver_match.url_name == 'saran_teknisi' %}bg-gray-100 dark:bg-gray-700{% endif %}">
      <img src="https://img.icons8.com/?size=100&id=outGJp6v2Y0y&format=png&color=000000" alt="Saran Icon" class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
      <span class="flex-1 ms-3 whitespace-nowrap">Saran</span>
  </a>
</li> -->
<li>
  <a href="{% url 'sptpermintaan_teknisi' %}"
      class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if request.resolver_match.url_name == 'sptpermintaan_teknisi' %}bg-gray-100 dark:bg-gray-700{% endif %}">
      <img src="https://img.icons8.com/?size=100&id=LdBR9a3vFiwK&format=png&color=000000" alt="Permintaan SPT Icon" class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
      <span class="flex-1 ms-3 whitespace-nowrap">Permintaan SPT</span>
  </a>
</li>
<li>
  <a href="{% url 'pengumuman_teknisi' %}"
      class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if request.resolver_match.url_name == 'pengumuman_teknisi' %}bg-gray-100 dark:bg-gray-700{% endif %}">
      <img src="https://img.icons8.com/?size=100&id=CLuWGSvnuOz9&format=png&color=000000" alt="pengumuman Icon" class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
      <span class="flex-1 ms-3 whitespace-nowrap">Pengumuman</span>
  </a>
</li>
<li>
  <a href="{% url 'kunjungan_teknisi' %}"
      class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if request.resolver_match.url_name == 'kunjungan_teknisi' %}bg-gray-100 dark:bg-gray-700{% endif %}">
      <img src="https://img.icons8.com/?size=100&id=1C7GGjJBWQzh&format=png&color=000000" alt="Kunjungan Icon" class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
      <span class="flex-1 ms-3 whitespace-nowrap">Kunjungan</span>
  </a>
</li>
