{% extends 'base.html' %}

{% load static %}

{% block content %}
<c-layouts.dashboard dashboard-name="SPT Teknisi">  
    <c-slot name="sidebar">
        <c-sidebar.sptteknisi></c-sidebar.sptteknisi>
    </c-slot>

    <c-slot name="content">
      {% comment %} Heading Card {% endcomment %}
      <c-headingCard judul="Dashboard" deskripsi="Selamat datang di dashboard SPT Teknisi" heading_image_url="https://img.icons8.com/?size=100&id=6WmNGzM9j4eN&format=png&color=000000"></c-headingCard>

      <!-- Filter Section -->
      <section class="mb-4 bg-white dark:bg-gray-800 rounded-lg p-4 sm:p-6">
          <div class="flex flex-wrap justify-between items-center w-full gap-2">
              <h2 class="mr-2 text-lg sm:text-xl font-bold text-gray-800 dark:text-white">Filter</h2>
              <div class="flex flex-wrap gap-2">
                <form action="" method="get">
                  <select id="teknisi_filter" name="teknisi" class="rounded-lg border border-gray-300 text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                      <option value="semua">Semua Teknisi</option>
                      {% for teknisi in daftar_teknisi %}
                          <option value="{{ teknisi.user.username }}" {% if teknisi.user.username == filter_teknisi %}selected{% endif %}>{{ teknisi.nama }}</option>
                      {% endfor %}
                  </select>
                  <select id="bulan_filter" name="bulan" class="rounded-lg border border-gray-300 text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                      <option value="semua">Semua Bulan</option>
                      <option value="januari" {% if filter_bulan == 'januari' %}selected{% endif %}>Januari</option>
                      <option value="februari" {% if filter_bulan == 'februari' %}selected{% endif %}>Februari</option>
                      <option value="maret" {% if filter_bulan == 'maret' %}selected{% endif %}>Maret</option>
                      <option value="april" {% if filter_bulan == 'april' %}selected{% endif %}>April</option>
                      <option value="mei" {% if filter_bulan == 'mei' %}selected{% endif %}>Mei</option>
                      <option value="juni" {% if filter_bulan == 'juni' %}selected{% endif %}>Juni</option>
                      <option value="juli" {% if filter_bulan == 'juli' %}selected{% endif %}>Juli</option>
                      <option value="agustus" {% if filter_bulan == 'agustus' %}selected{% endif %}>Agustus</option>
                      <option value="september" {% if filter_bulan == 'september' %}selected{% endif %}>September</option>
                      <option value="oktober" {% if filter_bulan == 'oktober' %}selected{% endif %}>Oktober</option>
                      <option value="november" {% if filter_bulan == 'november' %}selected{% endif %}>November</option>
                      <option value="desember" {% if filter_bulan == 'desember' %}selected{% endif %}>Desember</option>
                  </select>
                  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                      Filter
                  </button>
                </form>
              </div>
          </div>
      </section>

      {% comment %} Grafik Sekolah {% endcomment %}
      <section class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-4">
          <!-- Radial Chart 1 -->
          <div class="max-w-full w-full bg-white rounded-lg dark:bg-gray-800 p-4 md:p-6">
            <!-- Line Chart -->
            <div class="py-6" id="pie-chart1"></div>
        
            <div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between">
              <div class="flex flex-col justify-center items-center pt-5 gap-2">
                <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white me-1">Jumlah Sekolah</h5>
                <p class="text-sm text-gray-500 dark:text-gray-400">Jumlah Sekolah per Jenjang</p>
              </div>
            </div>
          </div>

          <!-- Radial Chart 2 -->
          <div class="max-w-full w-full bg-white rounded-lg dark:bg-gray-800 p-4 md:p-6">
            <!-- Line Chart -->
            <div class="py-6" id="pie-chart2"></div>
        
            <div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between">
              <div class="flex flex-col justify-center items-center pt-5 gap-2">
                <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white me-1">Jumlah Komputer</h5>
                <p class="text-sm text-gray-500 dark:text-gray-400">Jumlah Komputer per Jenjang</p>
              </div>
            </div>
          </div>
      </section>

      {% comment %} Map Sekolah {% endcomment %}
      <c-mapSekolah></c-mapSekolah>

      {% comment %} List Sekolah {% endcomment %}
      <c-tableSekolah></c-tableSekolah>

      {% comment %} Jumlah Kunjungan Teknisi {% endcomment %}
      <section class="mb-4 bg-white dark:bg-gray-800 rounded-lg p-4 sm:p-6">
        <div class="flex flex-wrap gap-4">
          <div class="bg-green-100 dark:bg-green-900 p-4 rounded-lg flex items-center flex-1 min-w-[250px]">
            <img src="https://img.icons8.com/?size=100&id=AefXIkx4A693&format=png&color=000000" alt="Maintenance Icon" class="w-8 h-8 mr-2">
            <div class="ml-2">
              <h3 class="text-base sm:text-lg font-semibold text-green-800 dark:text-white">Maintenance</h3>
              <p class="text-xl sm:text-2xl font-bold text-green-600 dark:text-green-300">{{ maintenance|default_if_none:"0" }}</p>
              <p class="text-sm text-green-600 dark:text-green-400">{% if filter_bulan != 'semua' %}{{ filter_bulan|title }}{% else %}Bulan ini{% endif %}</p>
            </div>
          </div>
          <div class="bg-blue-100 dark:bg-blue-900 p-4 rounded-lg flex items-center flex-1 min-w-[250px]">
            <img src="https://img.icons8.com/?size=100&id=HMwxzLul2dfm&format=png&color=000000" alt="Trouble Shooting Icon" class="w-8 h-8 mr-2">
            <div class="ml-2">
              <h3 class="text-base sm:text-lg font-semibold text-blue-800 dark:text-white">Trouble Shooting</h3>
              <p class="text-xl sm:text-2xl font-bold text-blue-600 dark:text-blue-300">{{ trouble_shooting|default_if_none:"0" }}</p>
              <p class="text-sm text-blue-600 dark:text-blue-400">{% if filter_bulan != 'semua' %}{{ filter_bulan|title }}{% else %}Bulan ini{% endif %}</p>
            </div>
          </div>
          <div class="bg-indigo-100 dark:bg-indigo-900 p-4 rounded-lg flex items-center flex-1 min-w-[250px]">
            <img src="https://img.icons8.com/?size=100&id=12780&format=png&color=000000" alt="Remote Icon" class="w-8 h-8 mr-2">
            <div class="ml-2">
              <h3 class="text-base sm:text-lg font-semibold text-indigo-800 dark:text-white">Remote</h3>
              <p class="text-xl sm:text-2xl font-bold text-indigo-600 dark:text-indigo-300">{{ remote|default_if_none:"0" }}</p>
              <p class="text-sm text-indigo-600 dark:text-indigo-400">{% if filter_bulan != 'semua' %}{{ filter_bulan|title }}{% else %}Bulan ini{% endif %}</p>
            </div>
          </div>
          <div class="bg-yellow-100 dark:bg-yellow-900 p-4 rounded-lg flex items-center flex-1 min-w-[250px]">
            <img src="https://img.icons8.com/?size=100&id=faXHmzlIKEVi&format=png&color=000000" alt="Belum Dikunjungi Icon" class="w-8 h-8 mr-2">
            <div class="ml-2">
              <h3 class="text-base sm:text-lg font-semibold text-yellow-800 dark:text-white">Belum Dikunjungi</h3>
              <p class="text-xl sm:text-2xl font-bold text-yellow-600 dark:text-yellow-300">{{ belum_dikunjungi|default_if_none:"0" }}</p>
              <p class="text-sm text-yellow-600 dark:text-yellow-400">Total</p>
            </div>
          </div>
        </div>
      </section>

      {% comment %} Riwayat Kunjungan Teknisi {% endcomment %}
      <section>
        <div class="bg-white dark:bg-gray-800 rounded-lg p-4 sm:p-6 mb-4 w-full">
          <h2 class="text-lg sm:text-2xl font-bold text-gray-800 dark:text-white mb-4">Riwayat Kunjungan Teknisi</h2>

          <div class="flex flex-col sm:flex-row justify-between items-center w-full gap-4 mb-4">
            <div class="w-full sm:w-1/2">
              <input type="text" id="kunjunganSearch" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Cari riwayat kunjungan...">
            </div>
            <div class="w-full sm:w-auto">
              <div class="relative">
                <button id="dropdownKunjunganButton" data-dropdown-toggle="dropdownKunjungan" class="w-full text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" type="button">
                  Ekspor <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                  </svg>
                </button>
                <div id="dropdownKunjungan" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownKunjunganButton">
                    <li>
                      <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" onclick="exportTable('riwayatKunjunganTable', 'excel', 'riwayat_kunjungan_teknisi')">Excel</a>
                    </li>
                    <li>
                      <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" onclick="exportTable('riwayatKunjunganTable', 'csv', 'riwayat_kunjungan_teknisi')">CSV</a>
                    </li>
                    <li>
                      <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" onclick="exportTable('riwayatKunjunganTable', 'pdf', 'riwayat_kunjungan_teknisi')">PDF</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="overflow-x-auto rounded-lg w-full max-h-[300px] overflow-y-auto">
            <table id="riwayatKunjunganTable" class="w-full text-xs sm:text-sm text-left text-gray-500 dark:text-gray-400">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 sticky top-0">
                <tr>
                  <th scope="col" class="px-3 sm:px-6 py-2 sm:py-3">Judul</th>
                  <th scope="col" class="px-3 sm:px-6 py-2 sm:py-3">Deskripsi</th>
                  <th scope="col" class="px-3 sm:px-6 py-2 sm:py-3">Tanggal</th>
                  <th scope="col" class="px-3 sm:px-6 py-2 sm:py-3">Teknisi</th>
                  <th scope="col" class="px-3 sm:px-6 py-2 sm:py-3">Status</th>
                  <th scope="col" class="px-3 sm:px-6 py-2 sm:py-3">Sekolah</th>
                  <th scope="col" class="px-3 sm:px-6 py-2 sm:py-3">Lokasi</th>

                </tr>
              </thead>
              <tbody id="riwayatKunjunganTableBody">
                {% for item in riwayat_kunjungan %}
                  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="px-3 sm:px-6 py-2 sm:py-4">{{ item.judul|default_if_none:"-" }}</td>
                    <td class="px-3 sm:px-6 py-2 sm:py-4">{{ item.deskripsi|default_if_none:"-" }}</td>
                    <td class="px-3 sm:px-6 py-2 sm:py-4">{{ item.tanggal|default_if_none:"-" }}</td>
                    <td class="px-3 sm:px-6 py-2 sm:py-4">{{ item.teknisi.nama|default_if_none:"-" }}</td>
                    <td class="px-3 sm:px-6 py-2 sm:py-4">{{ item.status|default_if_none:"-" }}</td>
                    <td class="px-3 sm:px-6 py-2 sm:py-4">
                      {% for sekolah in item.sekolah.all %}
                        {{ sekolah.nama_sekolah }}{% if not forloop.last %}, {% endif %}
                      {% endfor %}
                    </td>
                    <td class="px-3 sm:px-6 py-2 sm:py-4">
                      {% if item.geolocation %}
                        <a href="https://www.google.com/maps?q={{ item.geolocation }}" target="_blank" class="text-blue-600 hover:text-blue-800 dark:text-blue-400 dark:hover:text-blue-600">
                          Lihat Lokasi
                        </a>
                      {% else %}
                        -
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </section>
  </c-slot>
</c-layouts.dashboard>

<script src="{% static 'apexcharts/dist/apexcharts.min.js' %}"></script>
<script>
  const totalPerJenjang = JSON.parse("{{ total_per_jenjang|escapejs }}");
  const totalKomputerPerJenjang = JSON.parse("{{ total_komputer_per_jenjang|escapejs }}");
  const daftarJenjang = JSON.parse("{{ daftar_jenjang|escapejs }}");

  const getChartOptions1 = () => {
    return {
      series: totalPerJenjang,
      labels: daftarJenjang,
      colors: ["#1C64F2", "#16BDCA", "#9061F9", "#FFA500", "#FF0000"],
      chart: {
        height: 420,
        width: "100%",
        type: "pie",
      },
      stroke: {
        colors: ["white"],
        lineCap: "",
      },
      plotOptions: {
        pie: {
          labels: {
            show: true,
          },
          size: "100%",
          dataLabels: {
            offset: -25
          }
        },
      },
      dataLabels: {
        enabled: true,
        style: {
          fontFamily: "Inter, sans-serif",
        },
      },
      legend: {
        position: "bottom",
        fontFamily: "Inter, sans-serif",
      },
      yaxis: {
        labels: {
          formatter: function (value) {
            return value + " Sekolah"
          },
        },
      },
      xaxis: {
        labels: {
          formatter: function (value) {
            return value + " Sekolah"
          },
        },
        axisTicks: {
          show: false,
        },
        axisBorder: {
          show: false,
        },
      },
    }
  }

  const getChartOptions2 = () => {
    return {
      series: totalKomputerPerJenjang,
      labels: daftarJenjang,
      colors: ["#1C64F2", "#16BDCA", "#9061F9", "#FFA500", "#FF0000"],
      chart: {
        height: 420,
        width: "100%",
        type: "pie",
      },
      stroke: {
        colors: ["white"],
        lineCap: "",
      },
      plotOptions: {
        pie: {
          labels: {
            show: true,
          },
          size: "100%",
          dataLabels: {
            offset: -25
          }
        },
      },
      dataLabels: {
        enabled: true,
        style: {
          fontFamily: "Inter, sans-serif",
        },
      },
      legend: {
        position: "bottom",
        fontFamily: "Inter, sans-serif",
      },
      yaxis: {
        labels: {
          formatter: function (value) {
            return value + " Komputer"
          },
        },
      },
      xaxis: {
        labels: {
          formatter: function (value) {
            return value + " Komputer"
          },
        },
        axisTicks: {
          show: false,
        },
        axisBorder: {
          show: false,
        },
      },
    }
  }

  if (document.getElementById("pie-chart1") && typeof ApexCharts !== 'undefined') {
    const chart = new ApexCharts(document.getElementById("pie-chart1"), getChartOptions1());
    chart.render();
  }

  if (document.getElementById("pie-chart2") && typeof ApexCharts !== 'undefined') {
    const chart = new ApexCharts(document.getElementById("pie-chart2"), getChartOptions2());
    chart.render();
  }
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const searchInput = document.getElementById('kunjunganSearch');
    const tableBody = document.getElementById('riwayatKunjunganTableBody');

    function filterTable() {
      const searchTerm = searchInput.value.toLowerCase();
      const rows = tableBody.getElementsByTagName('tr');

      for (let i = 0; i < rows.length; i++) {
        const row = rows[i];
        const cells = row.getElementsByTagName('td');
        let shouldShow = false;

        for (let j = 0; j < cells.length; j++) {
          const cellText = cells[j].textContent.toLowerCase();
          if (cellText.includes(searchTerm)) {
            shouldShow = true;
            break;
          }
        }

        row.style.display = shouldShow ? '' : 'none';
      }
    }

    searchInput.addEventListener('input', filterTable);
  });
</script>
{% endblock %}
