{% extends 'base.html' %}

{% block content %}
<c-layouts.dashboard dashboard-name="Guru">
    <c-slot name="sidebar">
        <c-sidebar.guru></c-sidebar.guru>
    </c-slot>

    <c-slot name="content">
        <c-headingCard judul="Konfirmasi Kunjungan" deskripsi="Konfirmasi Kunjungan Teknisi" heading-image-url="https://img.icons8.com/?size=100&id=1C7GGjJBWQzh&format=png&color=000000"></c-headingCard>
        
          {% comment %} {% if kunjungan  %} {% endcomment %}
          <div class="flex flex-col bg-white dark:bg-gray-800 p-6 rounded-lg mb-4">
            <div>
              <form action="">  
                <div class="w-full">
                  <c-signature></c-signature>
                </div>
                <div>
                  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:text-base w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mt-2">
                    Konfirmasi
                  </button>
                </div>
              </form>
            </div>
          </div>
          {% comment %} {% else %} {% endcomment %}
          <div class="flex flex-col bg-white dark:bg-gray-800 p-6 rounded-lg mb-4">
            <div>
              <p class="text-center text-gray-500 dark:text-gray-400">Belum ada Kunjungan Teknisi</p>
            </div>
          </div>
          {% comment %} {% endif %} {% endcomment %}
            
    </c-slot>
    
</c-layouts.dashboard>
{% endblock %}
