{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
      <title>Diginusa</title>
    {% endblock title %}
      
    
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <link href="{% static 'flowbite/dist/flowbite.min.css' %}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>

<body class="bg-gray-100 dark:bg-gray-900">
    <c-notifications></c-notifications>
    {% block content %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
    <script src="{% static 'flowbite/dist/flowbite.min.js' %}"></script>
    <script src="{% static 'apexcharts/dist/apexcharts.min.js' %}"></script>
    <script src="{% static 'apexcharts/dist/apexcharts.js' %}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>
