<section>
  <div class="bg-white dark:bg-gray-800 rounded-lg p-4 sm:p-6 mb-4 w-full">
    <h2 class="text-lg sm:text-2xl font-bold text-gray-800 dark:text-white mb-4">Peta Sekolah di Indonesia</h2>
    <div id="map" class="h-[600px] w-full rounded-lg"></div>
  </div>
</section>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var map = L.map('map').setView([-2.548926, 118.0148634], 5);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var dataProvinsi = {{ provinsi_sekolah|safe }};

    dataProvinsi.forEach(function(provinsi) {
      var marker = L.marker(provinsi.koordinat).addTo(map);
      var sekolahList = "<ul class='list-disc pl-5'>";
      provinsi.sekolah.forEach(function(sekolah) {
        sekolahList += "<li class='text-sm'>" + sekolah + "</li>";
      });
      sekolahList += "</ul>";

      var popupContent = "<div class='popup-content'><strong class='text-lg'>" + provinsi.nama + "</strong>" + sekolahList + "</div>";

      marker.bindPopup(popupContent);
    });
  });
</script>
