<section>
  <div class="bg-white dark:bg-gray-800 rounded-lg p-4 sm:p-6 mb-4 w-full mt-4">
    <h2 class="text-md sm:text-2xl font-bold text-gray-800 dark:text-white mb-4">Form Pengumuman</h2>
    <form class="max-w-full mx-auto" method="POST" action="">
      {% csrf_token %}
      
      <div class="mb-4 sm:mb-5">
        <label for="pesan" class="block mb-2 text-sm sm:text-base font-medium text-gray-900 dark:text-white">Pesan</label>
        <textarea id="pesan" name="pesan" rows="4" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm sm:text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 sm:p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Tulis pesan pengumuman di sini" required></textarea>
      </div>
      
      <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:text-base w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mt-2">
        Kirim Pengumuman
      </button>
    </form>
  </div>
</section>
