<section class="mt-4">
  <div class="bg-white dark:bg-gray-800 rounded-lg p-4 sm:p-6 mb-4 w-full">
    <h2 class="text-md sm:text-2xl font-bold text-gray-800 dark:text-white mb-4">Daftar Kegiatan</h2>
    <div class="relative overflow-x-auto sm:rounded-lg">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">Judul</th>
            <th scope="col" class="px-6 py-3">Deskripsi</th>
            <th scope="col" class="px-6 py-3">Tanggal</th>
            <th scope="col" class="px-6 py-3">Sales</th>
            <th scope="col" class="px-6 py-3">Sekolah</th>
          </tr>
        </thead>
        <tbody>
          {% for kegiatan in daftar_kegiatan %}
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{ kegiatan.judul }}
            </td>
            <td class="px-6 py-4">{{ kegiatan.deskripsi }}</td>
            <td class="px-6 py-4">{{ kegiatan.tanggal }}</td>
            <td class="px-6 py-4">{{ kegiatan.sales }}</td>
            <td class="px-6 py-4">{{ kegiatan.sekolah }}</td>
          </tr>
          {% empty %}
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <td colspan="4" class="px-6 py-4 text-center">Tidak ada data kegiatan</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const tableBody = document.querySelector('tbody');
  });
</script>
