{% extends 'base.html' %}

{% block content %}
<c-layouts.dashboard dashboard-name="Teknisi">
    <c-slot name="sidebar">
        <c-sidebar.teknisi></c-sidebar.teknisi>
    </c-slot>

    <c-slot name="content">
        <c-headingCard judul="Kunjungan" deskripsi="Kunjungan" heading_image_url="https://img.icons8.com/?size=100&id=hnuJKXRIY1PQ&format=png&color=000000"></c-headingCard>
        {% if kunjunganTTD %}
        <section>
          <div class="bg-white dark:bg-gray-800 rounded-lg p-4 sm:p-6 mb-4 w-full">
            <h2 class="text-md sm:text-2xl font-bold text-gray-800 dark:text-white mb-4">Isi tanda tangan kunjungan dari Kepala Sekolah atau Guru</h2>
            <form action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="hidden" name="aksi" value="ttd">
              <input type="hidden" name="kunjungan_id" value="{{ kunjungan.id }}">
              <p class="mb-2 text-sm text-gray-900 dark:text-white"><strong>Kunjungan ID:</strong> {{ kunjungan.id }}</p>
              <p class="mb-2 text-sm text-gray-900 dark:text-white"><strong>Judul:</strong> {{ kunjungan.judul }}</p>
              <p class="mb-2 text-sm text-gray-900 dark:text-white"><strong>Sekolah:</strong> {{ kunjungan.sekolah }}</p>
              <p class="mb-2 text-sm text-gray-900 dark:text-white"><strong>Tanggal Kunjungan:</strong> {{ kunjungan.tanggal }}</p>
              <p class="mb-2 text-sm text-gray-900 dark:text-white"><strong>Deskripsi:</strong> {{ kunjungan.deskripsi }}</p>
              <div class="mb-2 sm:mb-5 flex flex-col">
                <label for="nama_kepsek_atau_guru" class="mb-2 text-sm font-semibold text-gray-900 dark:text-white">Nama Kepala Sekolah atau Guru</label>
                <input type="text" name="nama_kepsek_atau_guru" class="mb-2 border border-gray-300 rounded-lg text-sm bg-gray-50 text-gray-900 dark:text-black" placeholder="Nama Kepala Sekolah atau Guru" required>
              </div>
              <c-signature></c-signature>
              
              <button type="submit" class="mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:text-base w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Kirim Tanda Tangan
              </button>
            </form>
          </div>
        </section>
        {% else %}
        <section>
          <div class="bg-white dark:bg-gray-800 rounded-lg p-4 sm:p-6 mb-4 w-full">
              <h2 class="text-md sm:text-2xl font-bold text-gray-800 dark:text-white mb-4">Form Kunjungan</h2>
              <form class="max-w-full mx-auto" method="POST">
                {% csrf_token %}
                <!-- Input tersembunyi untuk geolokasi -->
                <input type="hidden" id="geolocation" name="geolocation">
                <input type="hidden" name="aksi" value="buat">
                
                <div class="mb-4 sm:mb-5">
                  <label for="judul" class="block mb-2 text-sm sm:text-base font-medium text-gray-900 dark:text-white">Judul Kunjungan</label>
                  <select id="judul" name="judul" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm sm:text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 sm:p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                    <option value="">Pilih Judul</option>
                    {% for judul in judul_list %}
                      <option value="{{ judul }}">{{ judul }}</option>
                    {% endfor %}
                  </select>
                </div>
                
                <div class="mb-4 sm:mb-5">
                  <label for="deskripsi" class="block mb-2 text-sm sm:text-base font-medium text-gray-900 dark:text-white">Deskripsi</label>
                  <textarea id="deskripsi" name="deskripsi" rows="4" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm sm:text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 sm:p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Deskripsi Kunjungan" required></textarea>
                </div>
                
                <div class="mb-4 sm:mb-5">
                  <label for="tanggal" class="block mb-2 text-sm sm:text-base font-medium text-gray-900 dark:text-white">Tanggal Kunjungan</label>
                  <input type="date" id="tanggal" name="tanggal" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm sm:text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 sm:p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                </div>
                
                <div class="mb-4 sm:mb-5">
                  <label class="block mb-2 text-sm sm:text-base font-medium text-gray-900 dark:text-white">Sekolah</label>
                  <div class="flex flex-wrap gap-4 max-h-60 overflow-y-auto p-2 border border-gray-300 rounded-lg bg-gray-50 dark:bg-gray-700">
                    {% for sekolah in sekolah_list %}
                    <div class="flex items-center">
                      <input type="checkbox" 
                             id="sekolah_{{ sekolah.id }}" 
                             name="sekolah_ids[]"
                             value="{{ sekolah.id }}"
                             class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                      <label for="sekolah_{{ sekolah.id }}" class="ml-2 text-sm sm:text-base text-gray-900 dark:text-white">
                        {{ sekolah }}
                      </label>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                
                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:text-base w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mt-2">
                  Buat Kunjungan
                </button>
              </form>
          </div>
        </section>
        {% endif %}
        <script>
          // Fungsi untuk mendapatkan geolokasi
          function getGeolocation() {
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(
                (position) => {
                  const lat = position.coords.latitude;
                  const lng = position.coords.longitude;
                  // Isi input tersembunyi dengan koordinat
                  document.getElementById('geolocation').value = `${lat},${lng}`;
                },
                () => {
                  console.log('Tidak dapat mendapatkan lokasi');
                }
              );
            } else {
              console.log('Geolokasi tidak didukung oleh browser ini');
            }
          }

          // Panggil fungsi getGeolocation saat halaman dimuat
          document.addEventListener('DOMContentLoaded', getGeolocation);
        </script>
    </c-slot>
</c-layouts.dashboard>
{% endblock %}
